# Type Casting(Python Casting)

In [ ]:
Type Coersion

int to float
float to int 
int to complex 
float to complex

complex to int   >> can't convert complex to int
complex to float  >> can't convert complex to float

int to str
float to str

str to int  # strictly numbers only
str to float

## 1. int to float

In [4]:
a = 10 
print(a, type(a))
print()
b = float(a)
print(b, type(b))

10 <class 'int'>

10.0 <class 'float'>

In [5]:
a = -40 
print(a, type(a))
print()
b = float(a)
print(b, type(b))

-40 <class 'int'>

-40.0 <class 'float'>

## float to int

In [6]:
a = 2.4
print(a, type(a))
print()
b = int(a)
print(b, type(b))

2.4 <class 'float'>

2 <class 'int'>

In [7]:
a = -11.99
print(a, type(a))
print()
b = int(a)
print(b, type(b))

-11.99 <class 'float'>

-11 <class 'int'>

## int to complex

In [8]:
c = 2+3j
print(c, type(c))

(2+3j) <class 'complex'>

In [10]:
a =20
print('Value in variable a is:', a, type(a))

b = complex(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 20 <class 'int'>
Value in variable b is: (20+0j) <class 'complex'>

In [11]:
a = 1234
print('Value in variable a is:', a, type(a))

b = complex(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 1234 <class 'int'>
Value in variable b is: (1234+0j) <class 'complex'>

## float to complex

In [12]:
a = 20.1
print('Value in variable a is:', a, type(a))

b = complex(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 20.1 <class 'float'>
Value in variable b is: (20.1+0j) <class 'complex'>

In [13]:
a = 1000.1
print('Value in variable a is:', a, type(a))

b = complex(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 1000.1 <class 'float'>
Value in variable b is: (1000.1+0j) <class 'complex'>

## complex to int

In [14]:
a = 4 + 8j
print('Value in variable a is:', a, type(a))

b = int(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: (4+8j) <class 'complex'>

TypeError: can't convert complex to int

## complex to float

In [15]:
a = 4 + 8j
print('Value in variable a is:', a, type(a))

b = float(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: (4+8j) <class 'complex'>

TypeError: can't convert complex to float

## int to string

In [16]:
a = 4
print('Value in variable a is:', a, type(a))

b = str(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 4 <class 'int'>
Value in variable b is: 4 <class 'str'>

In [17]:
a = 5 
b = 10
a+b

15

In [18]:
a = '5' 
b = 10
a+b

TypeError: can only concatenate str (not "int") to str

In [19]:
a = '5' 
b = 10
a*b

'5555555555'

In [20]:
a = 97
print('Value in variable a is:', a, type(a))

b = str(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 97 <class 'int'>
Value in variable b is: 97 <class 'str'>

## float to string

In [21]:
a = 97.8
print('Value in variable a is:', a, type(a))

b = str(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 97.8 <class 'float'>
Value in variable b is: 97.8 <class 'str'>

## str to int

In [22]:
a = '4589'  # string comtain only numbers
print('Value in variable a is:', a, type(a))

b = int(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 4589 <class 'str'>
Value in variable b is: 4589 <class 'int'>

In [23]:
a = '45 89'  # string comtain only numbers
print('Value in variable a is:', a, type(a))

b = int(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 45 89 <class 'str'>

ValueError: invalid literal for int() with base 10: '45 89'

In [24]:
a = '4589    '  # string comtain only numbers
print('Value in variable a is:', a, type(a))

b = int(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 4589     <class 'str'>
Value in variable b is: 4589 <class 'int'>

In [25]:
a = '    4589    '  # string comtain only numbers
print('Value in variable a is:', a, type(a))

b = int(a)
print('Value in variable b is:', b, type(b))

Value in variable a is:     4589     <class 'str'>
Value in variable b is: 4589 <class 'int'>

## str to float

In [26]:
a = '4589.1'  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = int(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 4589.1 <class 'str'>

ValueError: invalid literal for int() with base 10: '4589.1'

In [27]:
a = '4589.1'  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = float(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 4589.1 <class 'str'>
Value in variable b is: 4589.1 <class 'float'>

In [28]:
a = '4589'  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = float(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 4589 <class 'str'>
Value in variable b is: 4589.0 <class 'float'>

In [29]:
a = '4589.1     '  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = float(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 4589.1      <class 'str'>
Value in variable b is: 4589.1 <class 'float'>

In [30]:
a = '     4589.1     '  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = float(a)
print('Value in variable b is:', b, type(b))

Value in variable a is:      4589.1      <class 'str'>
Value in variable b is: 4589.1 <class 'float'>

In [31]:
a = '     45  89.1     '  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = float(a)
print('Value in variable b is:', b, type(b))

Value in variable a is:      45  89.1      <class 'str'>

ValueError: could not convert string to float: '     45  89.1     '

In [32]:
a = 'hi'  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = float(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: hi <class 'str'>

ValueError: could not convert string to float: 'hi'

In [33]:
a = '34.56'  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = int(a)
print('Value in variable b is:', b, type(b))

Value in variable a is: 34.56 <class 'str'>

ValueError: invalid literal for int() with base 10: '34.56'

In [34]:
a = '34.56'  # string contain only numbers
print('Value in variable a is:', a, type(a))

b = float(a)
print('Value in variable b is:', b, type(b))

c = int(b)
print('Value in variable c is:', c, type(c))

Value in variable a is: 34.56 <class 'str'>
Value in variable b is: 34.56 <class 'float'>
Value in variable c is: 34 <class 'int'>

In [37]:
int(float(a))

34

In [38]:
a = [1,23,4]
type(a)

list

In [40]:
b = tuple(a)
type(b)

tuple

In [41]:
a = 1,2,3
type(a)

tuple

In [42]:
a = 1
type(a)

int

In [43]:
a = 1,
type(a)

tuple

In [44]:
a = {1,2,3}
type(a)

set

In [45]:
a = (1,2,3)
type(a)

tuple

In [46]:
a

(1, 2, 3)

In [47]:
a = 1,2,3
a

(1, 2, 3)

In [48]:
a, b =1,2,3

ValueError: too many values to unpack (expected 2)

In [49]:
a, b =1,2

In [50]:
True

True

In [ ]:
False

In [51]:
true

NameError: name 'true' is not defined

In [52]:
int(True)

1

In [54]:
int(False)

0

In [55]:
bool(1)

True

In [56]:
bool(0)

False

In [57]:
bool(2)

True

In [58]:
bool(-2)

True