## String Functions

In [ ]:
Strings are immutable (unchangable)
immuatble >> We can not modify string once created

In [3]:
string = 'python'
print(string)
string = string[2:5]
string

python

'tho'

In [10]:
string = 'python'
print(string)
string[2:5]
string

python

'python'

In [4]:
string = 'python'
del string[1]

TypeError: 'str' object doesn't support item deletion

In [5]:
l1 = [1,2,3,4]
del l1[1]

In [6]:
l1

[1, 3, 4]

In [7]:
string = 'python'
string[1] = 'Y'

TypeError: 'str' object does not support item assignment

In [8]:
l1 =[1,2,3]
l1[1] = 'Y'
l1

[1, 'Y', 3]

In [11]:
str1 = 'Machine'
str2 = 'Learning'

str1 + str2  # concatination(concat)

'MachineLearning'

In [12]:
str1

'Machine'

In [13]:
str1 = 'Machine'
str2 = 'Learning'
str3 = 'Data'
str4 = 'Science'

str1 + str2 + str3 + str4  # concatination(concat)

'MachineLearningDataScience'

In [14]:
str1 = 'Machine'
str2 = 'Learning'

str1 + ' ' + str2  # concatination(concat)

'Machine Learning'

In [15]:
type(' ')

str

In [16]:
str1 = 'Machine'
str1 + ' '

'Machine '

In [17]:
str1 = 'Machine'
str2 = 1234

str1 + ' ' + str2  #

TypeError: can only concatenate str (not "int") to str

In [18]:
str1 = 'Machine'
str2 = 1234

str1 + ' ' + str(str2)  #

'Machine 1234'

In [20]:
str1 = 'Machine '

str1 * 5

'Machine Machine Machine Machine Machine '

In [21]:
'#'*20

'####################'

In [22]:
str1 = 'Machine'
str2 = 'Learning'

str1 * str2

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
'@#$^'*20

'@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^@#$^'

In [24]:
@ * 5

SyntaxError: invalid syntax (<ipython-input-24-11ac933b8b29>, line 1)

# String Functions

## 1. Capitalize()

In [ ]:
It will capitalize only first char of the string
first char >> zerox index item

In [25]:
str1 = 'machine learning'
str1.capitalize()

'Machine learning'

In [26]:
str1

'machine learning'

In [27]:
str1 = 'MACHINE learning'
str1.capitalize()

'Machine learning'

In [28]:
str1 = 'MACHINE LEARNING'
str1.capitalize()

'Machine learning'

## 2. upper()

In [ ]:
It will convert into upper case

In [29]:
str1 = 'machine learning'
str1.upper()

'MACHINE LEARNING'

In [30]:
str1

'machine learning'

In [31]:
str1 = 'MACHINE learning'
str2 = str1.upper()
str2

'MACHINE LEARNING'

In [32]:
str1 = 'MACHINE learning'
str2 = str1.upper()

print('Original string is:',str1)
print('Updated string is :',str2)

Original string is: MACHINE learning
Updated string is : MACHINE LEARNING

In [33]:
str1 = 'MACHINE LEARNING'
str2 = str1.upper()

print('Original string is:',str1)
print('Updated string is :',str2)

Original string is: MACHINE LEARNING
Updated string is : MACHINE LEARNING

In [34]:
str1 = 'MACHINE LEARNING123'
str2 = str1.upper()

print('Original string is:',str1)
print('Updated string is :',str2)

Original string is: MACHINE LEARNING123
Updated string is : MACHINE LEARNING123

## 3. lower()

In [35]:
str1 = 'MACHINE LEARNING123'
str2 = str1.lower()

print('Original string is:',str1)
print('Updated string is :',str2)

Original string is: MACHINE LEARNING123
Updated string is : machine learning123

In [36]:
str1 = 'MaChIne learning'
str1.lower()

'machine learning'

In [37]:
str2 = '''Machine learning (ML) is a type of artificial intelligence (AI) that allows
software applications to become more accurate at predicting outcomes without being explicitly programmed to do so'''
str2.upper()

'MACHINE LEARNING (ML) IS A TYPE OF ARTIFICIAL INTELLIGENCE (AI) THAT ALLOWS\nSOFTWARE APPLICATIONS TO BECOME MORE ACCURATE AT PREDICTING OUTCOMES WITHOUT BEING EXPLICITLY PROGRAMMED TO DO SO'

In [38]:
str2 = '''Machine learning (ML) is a type of artificial intelligence (AI) that allows
software applications to become more accurate at predicting outcomes without being explicitly programmed to do so'''
str2.lower()

'machine learning (ml) is a type of artificial intelligence (ai) that allows\nsoftware applications to become more accurate at predicting outcomes without being explicitly programmed to do so'

## 4. title()

In [ ]:
It will convert string into title case (capitalize each word)
title case >> 'virat kohli' >> 'Virat Kohli'

In [39]:
str3 = 'virat kohli'
str3.title()

'Virat Kohli'

In [40]:
str4 = 'united states of america'
str4.title()

'United States Of America'

In [41]:
pan_name = 'VIRAT KOHLI'
adhar_card = 'Virat Kohli'
pan_name == adhar_card

False

In [42]:
s1 = 'python'
s2 = 'class'
s1 == s2

False

In [43]:
s1 = 'python'
s2 = 'python'
s1 == s2

True

In [44]:
a = 10
b = 10.0
a == b

True

In [46]:
pan_name = 'VIRAT KOHLI'
pan_name = pan_name.lower()

print('PAN Name:', pan_name)

adhar_card = 'Virat Kohli'
adhar_card = adhar_card.upper()

print('ADHAR Name:', adhar_card)
pan_name == adhar_card

PAN Name: virat kohli
ADHAR Name: VIRAT KOHLI

False

In [47]:
pan_name = 'VIRAT KOHLI'
pan_name = pan_name.upper()

print('PAN Name:', pan_name)

adhar_card = 'Virat Kohli'
adhar_card = adhar_card.upper()

print('ADHAR Name:', adhar_card)
pan_name == adhar_card

PAN Name: VIRAT KOHLI
ADHAR Name: VIRAT KOHLI

True

In [48]:
pan_name = 'VIRAT KOHLI'
pan_name = pan_name.upper()

print('PAN Name:', pan_name)

adhar_card = 'Virat Kohli'
adhar_card = adhar_card.upper()

print('ADHAR Name:', adhar_card)

if pan_name == adhar_card:
    print('Both names are same')
    
else:
    print('Both names are different')

PAN Name: VIRAT KOHLI
ADHAR Name: VIRAT KOHLI
Both names are same

In [49]:
pan_name = 'VIRAT KOHLI'
pan_name = pan_name.lower()

print('PAN Name:', pan_name)

adhar_card = 'Virat Kohli'
adhar_card = adhar_card.upper()

print('ADHAR Name:', adhar_card)

if pan_name == adhar_card:
    print('Both names are same')
    
else:
    print('Both names are different')

PAN Name: virat kohli
ADHAR Name: VIRAT KOHLI
Both names are different

## 5. swapcase()

In [ ]:
It will convert case of all char

In [50]:
str1 = 'Pune'
str1.swapcase()

'pUNE'

In [51]:
str1 = 'VELOcity'
str1.swapcase()

'veloCITY'

In [52]:
str1 = 'VELOcity @#$'
str1.swapcase()

'veloCITY @#$'

## 6. lstrip()

In [ ]:
Remove all leading white spaces

In [53]:
str2 = '   python'
str2.lstrip()

'python'

In [54]:
str2 = '        python       '
str2.lstrip()

'python       '

In [55]:
str3 = '   12345    '
str3.lstrip()

'12345    '

In [56]:
str3 = '   12 345    '
str3.lstrip()

'12 345    '

In [57]:
str3 = '   12                                          345    '
str3.lstrip()

'12                                          345    '

In [ ]:
OCR >> Optical Character Recorgnition
    >> It is used to convert images to text
    
    Pytesseract OCR
    Google vision
    Amazon textract

## 7. rstrip()

In [ ]:
Remove all trailing white spaces

In [59]:
str4 = '     PUNE     '
str4.rstrip()

'     PUNE'

In [60]:
str4 = '     PUNE            MUMBAI       '
str4.rstrip()

'     PUNE            MUMBAI'

In [61]:
str4 = '     PUNE            MUMBAI       ,'
str4.rstrip()

'     PUNE            MUMBAI       ,'

## 8. strip()

In [ ]:
lstrip + rstrip >> strip

In [63]:
str4 = '     PUNE            MUMBAI       '
str4.strip()

'PUNE            MUMBAI'

In [64]:
str4 = '     PUNE            MUMBAI'
str4.strip()

'PUNE            MUMBAI'

In [66]:
str1 = '       Machine Learning      '
print('String:',str1)

str2 = str1.rstrip()
print('String:',str2)

str3 = str1.lstrip()
print('String:',str3)

str4 = str1.strip()
print('String:',str4)

String:        Machine Learning
String:        Machine Learning
String: Machine Learning
String: Machine Learning

## 9. replace()

In [ ]:
str1.replace(old_str, new_str)

In [67]:
string = 'Python and Data Science'
string.replace('Python', 'Machine Learning')

'Machine Learning and Data Science'

In [68]:
string

'Python and Data Science'

In [69]:
string = 'Python and Data Science'
string.replace('Python', 'JAVA')

'JAVA and Data Science'

In [70]:
string = 'Python and Data Science'
string = string.replace('Python', 'JAVA')
string

'JAVA and Data Science'

In [71]:
string = 'Python and Data Science'
string = string.replace('python', 'JAVA')
string

'Python and Data Science'

In [72]:
str1 = '''Python is a programming Language. Python is used in Machine Learning. 
Python is also used in Deep Learning'''

str2 = str1.replace('Python', 'PYTHON')
print(str2)

PYTHON is a programming Language. PYTHON is used in Machine Learning.
PYTHON is also used in Deep Learning

In [73]:
str1 = '''Python is a programming Language. Python is used in Machine Learning. 
Python is also used in Deep Learning'''

str2 = str1.replace('Python', 'PYTHON',1)
print(str2)

PYTHON is a programming Language. Python is used in Machine Learning.
Python is also used in Deep Learning

In [75]:
str1 = '''Python is a programming Language. Python is used in Machine Learning. 
Python is also used in Deep Learning'''

str2 = str1.replace('Python', 'PYTHON',2)
print(str2)

PYTHON is a programming Language. PYTHON is used in Machine Learning.
Python is also used in Deep Learning

In [76]:
str1 = '''Python is a programming Language. Python is used in Machine Learning. 
Python is also used in Deep Learning'''

str2 = str1.replace('Python', 'C')
print(str2)

C is a programming Language. C is used in Machine Learning.
C is also used in Deep Learning

In [77]:
str1 = '''Python is a programming Language. Python is used in Machine Learning. 
Python is also used in Deep Learning'''

str2 = str1.replace('programming', 'Coding')
print(str2)

Python is a Coding Language. Python is used in Machine Learning.
Python is also used in Deep Learning

In [78]:
str1 = '''Python is a programming Language. Python is used in Machine Learning. 
Python is also used in Deep Learning'''

str2 = str1.replace('a', '**')
print(str2)

Python is ** progr**mming L**ngu**ge. Python is used in M**chine Le**rning.
Python is **lso used in Deep Le**rning

In [79]:
str1 = '''Python is a programming Language. Python is used in Machine Learning. 
Python is also used in Deep Learning'''

str2 = str1.replace(' ', '++')
print(str2)

Python++is++a++programming++Language.++Python++is++used++in++Machine++Learning.++
Python++is++also++used++in++Deep++Learning

In [80]:
str1 = '''Python is a programming Language. Python is used in Machine Learning. 
Python is also used in Deep Learning'''

str2 = str1.replace(' ', '     ')
print(str2)

Python     is     a     programming     Language.     Python     is     used     in     Machine     Learning.
Python     is     also     used     in     Deep     Learning

In [82]:
str1.count('Python')

3

In [83]:
string = 'Python and Data Science'
string.replace('Python', 'JAVA')

'JAVA and Data Science'

In [84]:
string

'Python and Data Science'

In [85]:
string = 'Python and Data Science'
a = string.replace('Python', 'JAVA')
a

'JAVA and Data Science'